<!DOCTYPE html>
<html>

<head>
    <title>Contacts</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        li:hover {
            background-color: #e9e9e9;
        }
    </style>
</head>

<body>
    <h1>Contacts</h1>

    <ul>
        {{range .}}
        <li onclick="location.href='/send?Name={{.Name}}&Email={{.Email}}';">{{.Name}} - {{.Email}}</li>
        {{end}}
    </ul>
</body>

</html>
