<!DOCTYPE html>
<html>

<head>
    <title>{{.Name}}</title>
</head>

<body>
    <h1>Welcome!</h1>

    <form>
        <textarea rows="10" cols="50">Dear {{.Name}},
        </textarea>
        <br>
        <button type="submit">Send</button>
    </form>

</body>
